Repository ckomop0x-archived-projects/message-bird-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, eslint, stylelint

lint staged
  package.json
  tslint.json
Due: none

lint staged
  yarn.lock
Due: none

Client and server files
  package.json
Due: none

Client and server files
  npm-shrinkwrap.json
Due: none

Client and server files
  src/scripts/client/components/Sms/Dashboard/index.tsx
Due: prettier --write, tslint

Client and server files
  dist/client/index.html
  dist/client/js/index.bundle.js
  dist/client/js/index.bundle.js.map
  dist/client/js/index.fe9885b2569c8a390a70.bundle.js
  dist/client/js/index.fe9885b2569c8a390a70.bundle.js.map
  dist/client/js/vendor.bundle.js
  dist/client/js/vendor.bundle.js.map
  dist/client/js/vendor.fe9885b2569c8a390a70.bundle.js
  dist/client/js/vendor.fe9885b2569c8a390a70.bundle.js.map
  src/scripts/client/components/Sms/Send/index.tsx
Due: prettier --write, tslint, eslint

Form styles and logic
  dist/client/js/index.bundle.js
  dist/client/js/index.bundle.js.map
  dist/client/js/vendor.bundle.js
  dist/client/js/vendor.bundle.js.map
  npm-shrinkwrap.json
  package.json
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/client/components/Sms/Send/index.tsx
  src/scripts/client/components/Sms/Send/styles.ts
Due: prettier --write, tslint, eslint

Styling
  src/scripts/client/components/App/index.tsx
  src/scripts/client/components/App/styles.ts
  src/scripts/client/components/Header/index.tsx
  src/scripts/client/components/Header/styles.ts
  src/scripts/client/components/LeftMenu/index.tsx
  src/scripts/client/components/LeftMenu/styles.ts
  src/scripts/client/components/Login/index.tsx
  src/scripts/client/components/Login/styles.ts
  src/scripts/client/components/Login/temp.css
  src/scripts/client/components/RightContainer/index.tsx
  src/scripts/client/components/RightContainer/styles.ts
  src/scripts/client/components/Sms/Send/index.tsx
  src/scripts/client/components/Sms/Send/styles.ts
Due: prettier --write, tslint, stylelint

Styling
  src/scripts/client/components/CurrencySymbol/index.tsx
  src/scripts/client/components/Header/index.tsx
  src/scripts/client/components/Header/styles.ts
Due: prettier --write, tslint

End day save
  .huskyrc
  .lintstagedrc
  npm-shrinkwrap.json
  src/scripts/client/components/App/index.tsx
  src/scripts/client/components/App/styles.ts
  src/scripts/client/components/CurrencySymbol/index.tsx
  src/scripts/client/components/Header/index.tsx
  src/scripts/client/components/Header/styles.ts
  src/scripts/client/components/LeftMenu/index.tsx
  src/scripts/client/components/LeftMenu/styles.ts
  src/scripts/client/components/Login/index.tsx
  src/scripts/client/components/Login/styles.ts
  src/scripts/client/components/RightContainer/index.tsx
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/client/components/Sms/Send/index.tsx
  src/scripts/client/components/Sms/Send/styles.ts
  src/scripts/client/components/Sms/index.tsx
  src/scripts/client/components/styles/GlobalStyles.ts
  src/scripts/client/components/styles/themeStyles.ts
  test/unit/components/__snapshots__/index.spec.tsx.snap
Due: prettier --write, tslint

Some code improvements
  npm-shrinkwrap.json
  package.json
  settings/tslint-config/index.js
  src/scripts/client/components/Sms/Dashboard/MessagesTable/MessageItem.tsx
  src/scripts/client/components/Sms/Dashboard/MessagesTable/index.tsx
  src/scripts/client/components/Sms/Dashboard/MessagesTable/styles.ts
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/client/components/Sms/Dashboard/styles.ts
  src/scripts/client/services/get-messages.ts
Due: prettier --write, tslint, eslint

Websockets turned off due to issue
  .gitignore
  .stylelintrc
  README.md
  npm-shrinkwrap.json
  package.json
  src/scripts/client/components/App/index.tsx
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/client/components/Sms/Send/styles.ts
  src/scripts/client/components/styles/GlobalStyles.ts
  src/scripts/client/components/styles/NormalizeStyles.ts
Due: prettier --write, tslint

Autosave
  dist/client/index.html
  dist/client/js/index.bundle.js
  dist/client/js/index.bundle.js.map
  dist/client/js/vendor.bundle.js
  dist/client/js/vendor.bundle.js.map
  dist/server/server.js
  dist/server/server.js.map
  npm-shrinkwrap.json
  package.json
  settings/git/commitizen.js
  settings/git/commitlint.js
  settings/variables.env
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/server/server.ts
Due: prettier --write, tslint, eslint

Client migrated to Socket.io
  dist/client/index.html
  dist/server/server.js
  dist/server/server.js.map
  nodemon.json
  package-lock.json
  package.json
  src/scripts/client/components/Sms/Dashboard/MessagesTable/MessageItem.tsx
  src/scripts/client/components/Sms/Dashboard/MessagesTable/index.tsx
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/server/index.ts
  src/scripts/server/server.ts
  src/scripts/services/get-messages.ts
Due: prettier --write, tslint, eslint

Fixing heroku build
  package.json
Due: none

Fixing devDependecies
  package.json
Due: none

Fixing devDependecies
  tsconfig.json
Due: none

Fixing devDependecies
  dist/client/index.html
  dist/server/server.js.map
  package-lock.json
  package.json
  src/scripts/server/index.ts
  tsconfig.json
Due: prettier --write, tslint

Fixing devDependecies
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/server/index.ts
  src/scripts/server/server.ts
Due: prettier --write, tslint

ENV ports
  dist/client/index.html
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/server/server.ts
Due: prettier --write, tslint

fix for socket
  src/scripts/client/components/Sms/Dashboard/index.tsx
Due: prettier --write, tslint

Webhook now works
  src/scripts/client/components/Sms/Dashboard/index.tsx
Due: prettier --write, tslint

Scripts update
  .gitignore
  npm-shrinkwrap.json
  package.json
Due: none

Snapshot updated
  test/unit/components/__snapshots__/index.spec.tsx.snap
Due: none

ENV settings
  .env
  .gitignore
  npm-shrinkwrap.json
  package.json
  settings/variables.env
  src/scripts/client/components/RightContainer/index.tsx
  src/scripts/client/components/Sms/Dashboard/index.tsx
  src/scripts/client/components/Sms/index.tsx
  webpack.config.js
Due: prettier --write, tslint, eslint

Base tests snapshots coverage
  .env
  package.json
  src/scripts/client/__tests__/__snapshots__/index.spec.tsx.snap
  src/scripts/client/__tests__/index.spec.tsx
  src/scripts/client/components/Sms/Send/__tests__/__snapshots__/index.spec.tsx.snap
  src/scripts/client/components/Sms/Send/__tests__/index.spec.tsx
  src/scripts/client/components/Sms/Send/index.tsx
  test/unit/components/index.spec.tsx
Due: prettier --write, tslint

Removed console.log
  src/scripts/client/components/Sms/Dashboard/index.tsx
Due: prettier --write, tslint

Configuration changes
  dist/client/index.html
  npm-shrinkwrap.json
  package.json
  src/scripts/client/components/Sms/Dashboard/index.tsx
  webpack.config.js
Due: prettier --write, tslint, eslint

Prettier settings enchansed
  package.json
  webpack.config.js
Due: prettier --write, eslint

ReadMe changed
  README.md
Due: none

Path conditions:
  prettier --write: (((any of: {scripts,src}/**/*.{ts,tsx}) or (any of: {scripts,src,dev-tools}/**/*.{js,jsx})) or (any of: ./*.{js,jsx})) or (any of: test/{helpers,unit}/**/*.{js,jsx})
  tslint: any of: {scripts,src}/**/*.{ts,tsx}
  eslint: ((any of: {scripts,src,dev-tools}/**/*.{js,jsx}) or (any of: ./*.{js,jsx})) or (any of: test/{helpers,unit}/**/*.{js,jsx})
  stylelint: any of: {src,styles}/**/*.css
